<div class="container body">
  <div class="main_container">
		<!-- left menu -->
    <div class="pointercss left">
        </div>
		<!-- /left menu -->
    <!-- /top navigation -->
    <div class="topnav">
  <div class=logout>
  <a href="#logout" float:center>Logout</a>
  <span class="profileimg">
    <span class="user_status"></span>
</div>
</div>
<div id="mySidenav" class="sidenav">
      <a href="#/profile">Profile</a>
      <a href="#/manageusers">Manage Users</a>
    </div>
<!-- Use any element to open the sidenav -->
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
</div>
<div id="right-content" ui-view></div>
<!-- page content -->
</div>
