
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title hidden-sm hidden-xs">

        </div>
  <div  class="main_menu">
            <div class="menu_section">
                <ul class="nav side-menu" id = "sidebar-menu">
                    <li ng-click="htest()" class="child_menu" >
                        <a href="/profile">
                            <span class="left_menu_link">profile </span> </a>
                    </li>
                    <li ng-click="htest()" class="child_menu">
                        <a href="/userprofile">
                            <span class="left_menu_link"> profile </span>
                        </a>
                    </li>
                    <li ng-click="htest()" class="child_menu">
                        <a href="/manageusers">
                            <span class="left_menu_link"> ManageUsers </span>
                        </a>
                    </li>
                  </ul>
            </div>
        </div>

    </div>
</div>
