<div class="top_nav">
    <div class="nav_menu">
        <div class="headerfixed_menu">
            <nav class="" role="navigation">
                <div class="nav toggle hidden-md hidden-lg">
                    <a id="menu_toggle" ng-click="htest()"></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="logout" style="margin-right:5px">

                        <ul class="dropdown-menu">

                            <li ng-click="logout()">
                                <a>Log Out</a>
                            </li>
                        </ul>
                    </li>
              </ul>
            </nav>
        </div>
    </div>
</div>
